<div class='container-fluid'>
  <div class='row justify-content-center'>
    <div class='col-8'>
      <div class='row justify-content-center' style='margin-top: 16px;'>
        <h1>Dashboard</h1>
      </div>
      <div class='row' style='padding-bottom: 16px;'>
        <div class='col'>
          <span *ngIf='userInfo' style='font-weight: bold; font-size: 17px;'>{{userInfo.username}}</span>
        </div>
        <div class='col-auto'>
          <button class='btn btn-info' (click)='createDocModal.open()'>Create Doc</button>&nbsp;
          <button class='btn btn-secondary' (click)='logout()' data-cy='logout-btn'>Logout</button>
        </div>
      </div>
      <div class='row'>
        <div class='col-12'>
          <div class='row' style='padding-bottom: 24px;'>
            <div class='col-12'>
              <h3>My Docs</h3>
              <ol *ngIf='myDocuments.length > 0'>
                <li *ngFor='let doc of myDocuments'>
                  <span (click)='openDocument(doc._id)' style='cursor: pointer;'>{{ doc.title }} &nbsp; </span><span style='font-style: italic; font-size: 13px; color: #aaa; cursor: pointer;' (click)='manageDocModal.open(doc)'>Manage</span>
                </li>
              </ol>
              <span class='create-doc-btn' style='margin-left: 22px;' (click)='createDocModal.open()'>Create a Document</span>
            </div>
          </div>
          <div class='row'>
            <div class='col-12'>
              <h3>Collaboration Docs</h3>
              <ol *ngIf='collabDocs.length > 0'>
                <li *ngFor='let doc of collabDocs'>
                  <span (click)='openDocument(doc._id)' style='cursor: pointer;'>{{ doc.title }} &nbsp; </span>
                </li>
              </ol>
              <span *ngIf='collabDocs.length === 0' style='font-style: italic; color: #aaa;'>No Collaboration Documents</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<doccollab-create-doc-modal #createDocModal
(outCreateDoc)='createDoc($event)'
></doccollab-create-doc-modal>
<doccollab-manage-doc-modal #manageDocModal></doccollab-manage-doc-modal>
