<div class='container-fluid' style='margin-top: 24px;'>
  <div class='row justify-content-center'>
    <div class='col-10'>
      <h1 style='text-transform: uppercase;'>Document Editor</h1>
      <h4 style='color: #606060;'>"{{ activeDocument ? activeDocument.title : '' }}"</h4><br>
      <button class='btn btn-info' routerLink='/dashboard'>Dashboard</button><br><br>
      <button class='btn btn-success' (click)='saveDocument()'>Save</button>
    </div>
  </div>
  <div class='row justify-content-center' style='height: 400px;'>
    <div class='col-10'>
      <quill-editor #quillEditor [(ngModel)]='editorContent' format='object' placeholder='Start writing here...' (onContentChanged)='contentChange($event)' (onEditorCreated)='editorInstance = $event'></quill-editor>
    </div>
  </div>
</div>
